body {
    font-family: "Courier New";
}

.flag {
	vertical-align:text-bottom;
	width:20px;
	height:20px;
}

p {
	max-width: 42em;
	text-align: left;
}

#toronto_financial {
	width:600px;
	height:400px;
}
