<!DOCTYPE html>
<html>
<center>
<head>

<link href="static/about.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
	<h1>Currency Cat</h1>
    <h4>Text 'Hello' to 1-980-223-6739 for real time Forex quotes.</h4>
</header>

<p><img class="flag" src="static/4x3_flags/eu.svg">  EUR/USD = {{EUR_USD}}</p>

<p><img class="flag" src="static/4x3_flags/us.svg">  USD/JPY = {{USD_JPY}}</p>

<p><img class="flag" src="static/4x3_flags/gb.svg">  GBP/USD = {{GBP_USD}}</p>

<p><img class="flag" src="static/4x3_flags/us.svg" id="pairSpan">  USD/CHF = {{USD_CHF}}</p>

</i>
</body>
</center>
</html>
